# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
Front-End/node_modules
Front-End/node_modules/*
Front-End/npm-debug.log
Front-End/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
Front-End/.vscode/*
Front-End/!.vscode/settings.json
Front-End/!.vscode/tasks.json
Front-End/!.vscode/launch.json
Front-End/!.vscode/extensions.json
Front-End/.history/*

# Miscellaneous
Front-End/.angular/cache
.sass-cache/
Front-End/connect.lock
Front-End/coverage
Front-End/libpeerconnection.log
Front-End/testem.log
Front-End/typings

# System files
.DS_Store
Thumbs.db
